<nav>
    <ul>
        <li><a href="/homepage">Home Page</a></li>
        <li><a href="/companyhistory">Company History</a></li>
        <li><a href="/pastwork">Past Work</a></li>
        <li><a href="/staffpage">Staff Page</a></li>
        <li><a href="/contactpage">Contact Page</a></li>
        <li><a href="/linkspage">Links Page</a></li>
    </ul>
</nav>