<nav>
    <ul>
        <li><a href="/views/home-page.ejs">Home Page</a></li>
        <li><a href="/views/company-history.ejs">Company History</a></li>
        <li><a href="/views/past-work.ejs">Past Work</a></li>
        <li><a href="/views/staff-page.ejs">Staff Page</a></li>
        <li><a href="/views/contact-page.ejs">Contact Page</a></li>
        <li><a href="/views/links-page.ejs">Links Page</a></li>
    </ul>
</nav>