<!DOCTYPE html>
<html>

    <header><%- include('./partials/navbar.ejs') %></header>
    <body>
        <ul>
            <% let staffNum = 1 %>
            <% for(let i = 0; i<staff.length; i++){%>
                <li>Staff <%= staffNum%> 
            <%staffNum+=1 %>
            </li>
                <ul>
                    <li> First Name: <%=staff[i].firstName  %></li>
                    <li> Last Name: <%=staff[i].lastName  %></li><br>
                </ul>
           <% } %>
    
        
        </ul>
    
    </body>
    
    </html>